@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

/* Add the missing scroll-behavior property */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}



a {
  @apply  no-underline;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .section__padding {
    @apply py-16 px-24;
  }

  .app__bg {
    @apply bg-[url('./assets/bg.png')] bg-center bg-cover bg-repeat bg-fixed
  }

  .p__opensans {
    @apply font-alt text-white text-[16px] leading-[23px] capitalize
  }
}